<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="../chart.css">
	<title></title>
</head>
<body>

<h1 id="quest"></h1>

<div class="chart-cont">
	
	<canvas id="myChart"></canvas>

</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.js"></script>

<script type="text/javascript" src="../vote.js"></script>
<script type="text/javascript" src="../scriptchart.js"></script>
</script>
</body>
</html>