#canvascont{
	width: 50%;

}

body{
	
	background-color: #e8e8e8;
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
}

.foot{

	bottom:0;
	position: absolute;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #ffffff;

}

.foot h2{
	display: inline;

}

.heart{
	color: #d645f7;
	display: inline;
}

.workbench{
	
	position: relative;
	margin-top:3%; 
	background-color: #4286f4;
	left:50%;
	transform: translate(-50%);
	width: 50%;
	border-radius: 3px;
-webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.75);

}

.vote{
	display:block;
	width: inherit;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 8px 0 8px 0;
	margin-bottom: 2px;
	background-color: #e1e6ef;

	text-align: center;
}



.elem{
	
margin: 5px;
font-size: 32px;
letter-spacing: 2px;
width: 70%;
color:#5785c1;
display: inline-block;


}

.del{
	
	display: inline-block;
	color: #183e7a;
		cursor: pointer;
}

.del:hover{
	color: #5983c6;
}

.question-cont{
	font-size: 40px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;


}
.question-cont h2{

	top: 50%;
	position: relative;
	display: inline-block;

}

.controller{
	position: relative;
	display: inline-block;
	text-decoration: none!important;
	color: white;
	font-size: 20px;
	background-color: #112442;
	padding: 15px;
	text-align: left;
	margin: 25px;
	cursor: pointer;

}

.controller:hover{
	background-color: #2a5396;
}

.btns button:hover{
	background-color: #2a5396;
}

.buttons{
	display: relative;
	
}

.unclickable{

	background-color: #eaeaea;
		display:block;
	width: 100%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	padding: 8px 0 8px 0;
	margin-bottom: 2px;
	
	opacity: .5;
	text-align: center;

}

.answer-cont{
	background-color: white;
	padding-top: 35px;
	padding-bottom: 35px;
	border-radius: 3px;
	color:#dbdbdb;
	width: 100%;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.create{
	text-align: center;
	padding: 25px;
	background-color: white;
	
	margin-top: 15px;
	position: relative;

}

.create input{
	font-size: 24px;
}

.btns{
	margin-top: 35px;
}

.btns button{

background-color: #112442;
padding: 15px;
text-decoration: none;
color: white;
font-size: 24px;
border:0px;
margin:10px; 
cursor: pointer;

}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        top:0;
    }

  

    100% {
        
        top:30%;
    }
}

.popup{

	background-color: white;
	width: 50%;
	position: absolute;
	text-align: center;
	padding: 55px;
	left: 50%;
	top:0%;

	transform: translate(-50%);
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
animation: moveInLeft 0.8s forwards;


}
.wrapper{

	background-color:rgba(0, 0, 0,0.7);
	height: 100vh;
	width: 100%;
	float: left;
	position: fixed;
	z-index: 4;
	top:0;
	left: 0;


}

.hidden{
	display: none;
}

.greet{
	text-transform: uppercase;
	text-align: center;
	color:#abacad;
}